

.photo {
  width: 200px;
}

.list-group-item {
  width: 50%;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;

}

h1 {
  margin: 20px;
  color: black;
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}
